/* styles for FOOTER of EVERY PAGE */

.app-footer {
  background-image: url("/demo1/images/footer-bg.jpg");
  /* background-color: deeppink; */
  padding-top: 55px;
  height: 12rem;
}

/* LOGO */
.app-footer__logo-wrapper {
  margin-bottom: 1rem;
}

/* SOCIAL LIST */
.app-footer__social-list {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}

.app-footer__social-list > li {
  margin-right: 2rem;
}

.app-footer__social-list > li > a {
  color: lightgray;
}

/* MENU */
.app-footer__menu {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  float: right;
}

.app-footer__menu > li {
  margin-left: 1.5rem;
}

.app-footer__menu > li > a {
  color: rgb(82, 82, 82);
}

.app-footer__menu > li > a.current-page {
  color: deeppink;
}

/* COPYRIGHT */
.app-footer p {
  font-size: 12px;
  float: right;
}