/* styles for HEADER of EVERY PAGE */

/* *************** */
/* SECTION TOP-BAR */

.top-bar {
  padding: 1rem 0;

  background-color: deeppink;
}

/* SOCIAL LIST */
.top-bar__social-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 0;
  margin: 0;
  
  list-style-type: none;
}
.top-bar__social-list > li {
  margin-right: 2rem;
}

.top-bar__social-list > li > a {
  color: white;
}

/* LINKS */
.top-bar__links > a,
.top-bar__links > span {
  color: white;
}

/* *********** */
/* NAV TOP-NAV */
.top-nav {
  /* Display & Box Model */
  padding: 1rem 0;
  
  /* Color */
  background-color: white;
}

/* TOP-NAV LOGO */
.top-nav__logo {
  width: 7.5rem;
}

/* TOP-NAV MENU */
.top-nav__menu {
  
  display: flex;
  flex-flow: row nowrap;
  
  margin-left: 8rem;

  list-style-type: none;
}
.top-nav__menu > li {
  margin: 0 1rem;
}
.top-nav__menu > li > a {
  color: rgb(82, 82, 82);
}
.top-nav__menu > li > a.current-page {
  color: deeppink;
}

/* TOP-NAV SEARCH */
.top-nav__search {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;

  background-color: deeppink;

  line-height: 2rem;
  text-align: center;
}

.top-nav__search > i {
  color: white;
}
