/* styles for FOR EVERY PAGE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* FONTS  */
    font-family: 'Poppins', sans-serif;
}

/* layout define */
.container {
    --padding-side: 2rem;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

/* 
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 */

button {
    padding: 1rem 3rem;
    border: none;

    background-color: deeppink;
    color: white;
}
