@font-face {
  font-family: NexaRustScript;
  src:
    url("./fonts/nexarustscripts-00-webfont.woff2") format("woff2"),
    url("https://www.nestle-cereals.com/uk/sites/all/themes/cpw/assets/brands/cpw/fonts/nexarustscripts-00-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback
}

/* @font-face {
  font-family: "NexaRustScript";

  src:
    url("https://db.onlinewebfonts.com/t/bf2a08edfbdc409824a75cd74df13fab.eot");
  src:
    url("https://db.onlinewebfonts.com/t/bf2a08edfbdc409824a75cd74df13fab.eot?#iefix") format("embedded-opentype"),

    url("https://db.onlinewebfonts.com/t/bf2a08edfbdc409824a75cd74df13fab.woff2") format("woff2"),

    url("https://db.onlinewebfonts.com/t/bf2a08edfbdc409824a75cd74df13fab.woff") format("woff"),

    url("https://db.onlinewebfonts.com/t/bf2a08edfbdc409824a75cd74df13fab.ttf") format("truetype"),

    url("https://db.onlinewebfonts.com/t/bf2a08edfbdc409824a75cd74df13fab.svg#NexaRustScriptBW00-00") format("svg");
} */

/* @font-face {
  font-family: MyriadPro;
  src:
    url(https://www.nestle-cereals.com/uk/sites/all/themes/cpw/assets/brands/cpw/fonts/MyriadPro-Regular.woff2) format("woff2"),
    url(https://www.nestle-cereals.com/uk/sites/all/themes/cpw/assets/brands/cpw/fonts/MyriadPro-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback
} */

@font-face {
  font-family: NexaRustSans-Black;
  src:
    url(./fonts/NexaRustSans-Black.woff2) format("woff2"),
    url(https://www.nestle-cereals.com/uk/sites/all/themes/cpw/assets/brands/cpw/fonts/NexaRustSans-Black.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback
}

@font-face {
  font-family: NexaRustSans-BlackBig-grain;
  src:
    url(./fonts/NexaRustSans-BlackBig-grain.woff2) format("woff2"),
    url(https://www.nestle-cereals.com/uk/sites/all/themes/cpw/assets/brands/cpw/fonts/NexaRustSans-Black02.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback
}


@font-face {
  font-family: Icons;
  src:
    url(./fonts/icons.woff2) format("woff2"),
    url(./fonts/icons.woff) format("woff"),
    url(./fonts/icons.ttf) format("truetype"),
    url(./fonts/icons.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: fallback
}